<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>saisie d'un produit</title>

</head>
<body>
	<div >
	<div class="col-md-4"></div>
	<div class="col-md-3">
	<div class="panel panel-primary">
				<div class="panel-heading">Nouveau service</div>
				<div class="panel-body">
		<form th:action="@{/admin/saveSer}" method="post" th:object="${service}">
		<div class="form-group">
				<label class="control-label" for="id" >ID:</label> 
				<label th:text="*{id}"></label>
				<input
					class="form-label" type="hidden" name="id" 
					th:value="*{id}">
			</div>
			<div class="form-group">
				<label th:for="nomSer">Nom :</label> <input
					class="form-control" type="text" name="nomSer" 
					th:value="*{nomSer}">
					<span th:errors="*{nomSer}" class="text-danger"> </span>
			</div>
				<button type="submit" class="btn btn-primary">save</button>
		</form> 
		</div>
	</div></div>
	</div>
</body>
</html>