<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>saisie d'un équipement</title>
</head>
<body>
	<div >
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<div class="panel panel-primary">
				<div class="panel-heading">Nouveau équipement</div>
				<div class="panel-body">
		<form th:action="@{/admin/save}" method="post" th:object="${produit}">
			<div class="form-group">
				<label th:for="numSerie">N° de série:</label> <input
					class="form-control" type="text" name="numSerie" 
					th:value="${produit.numSerie}">
					<span th:errors="${produit.numSerie}" class="text-danger"> </span>
			</div>
			<div class="form-group">
				<label th:for="numSerie" >Modèle:</label> <input class="form-control"
					type="text" name="modele" th:value="${produit.modele}">
					<span th:errors="${produit.modele}" class="text-danger"> </span>
			</div>
			<div class="form-group">
				<label class="control-label">Marque:</label> 
				<select th:field="*{marque}">
				<option th:each="m:${listMarques}"
				 th:text="${m.nomMarq}" th:value="${m.idMarq}" ></option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">Catégorie:</label> 
				<select th:field="*{categorie}">
				<option th:each="m:${listCategories}"
				 th:text="${m.nomCat}" th:value="${m.idCat}" ></option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">Utilisateur:</label> 
				<select th:field="*{employe}">
				<option th:each="m:${listEmp}"
				 th:text="${m.nom}" th:value="${m.idEmp}" ></option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">Observation:</label> 
				 <input
					class="form-label" type="text" name="observation" th:value="${produit.observation}">
					<span th:errors="${produit.observation}" class="text-danger"> </span>
			</div>
			
			<div class="form-group">
				<label class="control-label">Etat:</label>
				<select th:field="*{etat}">
				<option th:each="m:${listEtat}"
				 th:text="${m.nomE}" th:value="${m.idE}" ></option>
				</select> 
			</div>
			<button type="submit" class="btn btn-primary">save</button>
		</form> 
		
		</div>
	</div></div>
	</div>
</body>
</html>