<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>saisie d'un équipement</title>
</head>
<body>
	<div >
	<div class="col-md-6">
	<div class="panel panel-primary">
				<div class="panel-heading">Nouveau équipement</div>
				<div class="panel-body">
		<form th:action="@{/admin/saveMarq}" method="post" >
			<div class="form-group">
				<label th:for="nomMarq">Nom de la marque:</label> <input
					class="form-control" type="text" name="nomMarq" 
					th:value="${marque.nomMarq}">
					<span th:errors="${marque.nomMarq}" class="text-danger"> </span>
			</div>
			<button type="submit" class="btn btn-primary">save</button>
		</form> 
		
		</div>
	</div></div>
	</div>
</body>
</html>